# Python runtime handled by Streamlit (use python-3.11)
streamlit>=1.38.0
python-dotenv==1.0.0
PyPDF2==3.0.1
faiss-cpu>=1.7.4

# LangChain (stable & compatible)
langchain==0.1.16
langchain-community==0.0.30
langchain-text-splitters
langchain-huggingface
langchain-google-genai

# Google AI
google-generativeai>=0.5.4
